//importing bootstrap
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
// weather css file 
@import "./weather.scss";
// google font link 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}